@model FakulteViewModel
@{
    Layout = "_PanelLayout";
}

@* Fakülte silindiğinde altındaki tüm bölümler de beraberinde siliniyor, uyarı gösterilecek. *@

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Fakülte Ekle-Düzenle</h3>
    </div>
    <form asp-controller="Panel" asp-action="EditFakulteler" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Fakülte Adı</label>
                <input asp-for="FakulteAd" class="form-control" id="exampleInputEmail1" placeholder="Fakülte Adı">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Fakülte Açıklama</label>
                <textarea asp-for="FakulteAciklama" class="form-control" rows="3" placeholder="Açıklama..." style="margin-top: 0px; margin-bottom: 0px; height: 75px;"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Fakülte Adres</label>
                <textarea asp-for="FakulteAdres" class="form-control" rows="3" placeholder="Adres" style="margin-top: 0px; margin-bottom: 0px; height: 75px;"></textarea>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="email" asp-for="FakulteMail" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Fakülte Telefon</label>
                <input type="tel" asp-for="FakulteTel" class="form-control" id="exampleInputEmail1" placeholder="(0___) - ___ - __ - __">
            </div>

            <div class="form-group">
                <label for="exampleInputFile">Fakülte Görsel</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="hidden" asp-for="yukluFakulteResim" class="custom-file-input" id="exampleInputFile">
                        <input type="file" asp-for="FakulteResim" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">Görsel Seçiniz...</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer" style="float:left;background-color:white">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
        <div class="card-footer" style="float:right;background-color:white">
            <button asp-controller="Panel" asp-action="Fakulteler" class="btn btn-warning">Geri Dön</button>
        </div>
    </form>
</div>
@section scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
}