@model DuyuruViewModel
@{
    Layout = "_PanelLayout";
}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Duyuru Ekle-Düzenle</h3>
    </div>
    <form asp-controller="Panel" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Duyuru Başlığı</label>
                <input asp-for="DuyuruBaslik" class="form-control" id="exampleInputEmail1" placeholder="Başlık">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Duyuru Açıklaması</label>
                <textarea asp-for="DuyuruAciklama" class="form-control" rows="3" placeholder="Açıklama.." style="margin-top: 0px; margin-bottom: 0px; height: 75px;"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleInputFile">Duyuru Görsel</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="hidden" asp-for="yukluDuyuruResim" class="custom-file-input" id="exampleInputFile">
                        <input type="file" asp-for="DuyuruResim" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">Görsel Seçiniz...</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer" style="float:left;background-color:white">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
        <div class="card-footer" style="float:right;background-color:white">
            <button asp-controller="Panel" asp-action="Duyurular" class="btn btn-warning">Geri Dön</button>
        </div>
    </form>
</div>

@section scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
}