<div class="flex flex-col footer-bg-color">

    <div class="flex justify-center space-x-15">

        <div class="mt-3 w-[400px] text-white">
            <p> ANA KAMPÜS</p>

            <p>Düzce Üniversitesi Konuralp Yerleşkesi Yörük Mah. Merkez/DÜZCE, 81620</p>

            <p>TEL : 0850 800 81 81</p>

            <p>FAKS: : 0380 542 11 03</p>
        </div>


        <div class="flex flex-col space-y-8">
            <div class="mt-3">
                <label class="relative block">
                    <span class="sr-only">Search</span>
                    <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                        <svg class="fill-current pointer-events-none text-gray-600 w-4 h-4"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z">
                            </path>
                        </svg>
                    </span>
                    <input class="placeholder:italic placeholder:text-gray-400 block bg-white w-full border border-gray-300 rounded-2xl py-2 pl-9 pr-3 shadow-sm focus:outline-none  focus:ring-1 sm:text-sm"
                           placeholder="Search for anything..." type="text" name="search" />
                </label>
            </div>

            <div class="flex justify-center items-center space-x-3">
                <div class="h-14 w-14 rounded-full bg-blue-600 flex items-center justify-center text-4xl text-white">
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="h-14 w-14 rounded-full bg-blue-600 flex items-center justify-center text-4xl text-white">
                    <i class="fab fa-facebook-f"></i>
                </div>

                <div class="h-14 w-14 rounded-full bg-blue-600 flex items-center justify-center text-4xl text-white">
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="h-14 w-14 rounded-full bg-blue-600 flex items-center justify-center text-4xl text-white">
                    <i class="fab fa-whatsapp"></i>
                </div>
                <div class="h-14 w-14 rounded-full bg-blue-600 flex items-center justify-center text-4xl text-white">
                    <i class="fab fa-youtube"></i>
                </div>

            </div>

        </div>

        <div class="relative w-80">
            <img class="absolute -top-52 w-full" src="assets/img/footer.png" />
        </div>

    </div>

    <div class="flex h-10 my-3 mt-20 bg-custom-gray w-full text-white items-center justify-center">
        <p>
            © Copyright - Düzce Üniversitesi Bilgi İşlem Daire Başkanlığı v.1.47 - 2021
        </p>
    </div>

</div>