
@foreach (var section in SectionModels)
{
    @((MarkupString)section.Content)
}

@*<section class="flex items-center justify-center">
        <img src="./assets/img/anasayfa.jpg" class="w-full h-full">
      </section>
      
    <section id="headline-panel" class="footer-bg-color flex flex-col h-[75]  mt-1">
        <div class="flex flex-col justify-center text-white w-[75rem] h-[60vh] m-auto space-y-5">
            <div>
                <h2 class="text-4xl italic">KENTİMİZ VE SANAYİ ELELE</h2>
                <h3 class="text-4xl italic">ÜRETEN ÜNİVERSİTE</h3>
            </div>
            <p class="w-[70%] italic">Sanayi ve iş dünyası ile üniversiteyi ortak akıl, ortak hedef ve ortak başarı ilkeleri doğrultusunda ortak projelerle biraraya getirerek üniversitenin ve sanayinin gelişmesine katkıda bulunmaktır.</p>
        </div>
</section>


<section class="flex justify-center items-center">
            <div class="flex flex-grow-[1]">
              <img src="./assets/img/headline-back-01.png" class="w-full" />
            </div>
        
            <div class="flex flex-grow-[1]  flex-col justify-center space-y-10">
              <h2 class="flex items-start justify-start text-5xl ml-15 text-info">2006'DAN BUGUNE</h2>
              <div class="flex flex-col space-y-20">
                <div class="flex flex-row justify-around">
               
                    <div class="flex flex-col justify-center items-center space-y-4 w-32">
                        <div class="text-6xl text-info border-2 border-solid border-info rounded-full w-[130px] h-[130px] flex justify-center items-center">14</div>
                        <span class="text-info text-xl text-center">FAKÜLTE</span>
                      </div>
    
                      <div class="flex flex-col justify-center items-center space-y-4 w-32">
                          <div class="text-6xl text-info border-2 border-solid border-info rounded-full w-[130px] h-[130px] flex justify-center items-center">4</div>
                          <span class="text-info text-xl text-center">ENSTİTÜ</span>
                        </div>
                  </div>

                  <div class="flex flex-row justify-around">
               
                    <div class="flex flex-col justify-center items-center space-y-4 w-32">
                        <div class="text-6xl text-info border-2 border-solid border-info rounded-full w-[130px] h-[130px] flex justify-center items-center">2</div>
                        <span class="text-info text-xl text-center">YÜKSEKOKUL</span>
                      </div>
    
                      <div class="flex flex-col justify-center items-center space-y-4 w-32">
                          <div class="text-6xl text-info border-2 border-solid border-info rounded-full w-[130px] h-[130px] flex justify-center items-center">10</div>
                          <span class="text-info text-xl text-center">MESLEK YÜKSEKOKULU</span>
                        </div>

                  </div>

                <div>
  
                </div>
              </div>
            </div>

</section>
   


<section class="flex justify-center items-center footer-bg-color">
            <div class="flex flex-grow-[1]">
              <img src="./assets/img/headline-back-02.png" class="w-full" />
            </div>
        
            <div class="flex flex-grow-[1]  flex-col justify-center space-y-10 ">
              <h2 class="flex items-start justify-start text-5xl ml-15 text-white">2006'DAN BUGUNE</h2>
              <div class="flex flex-col space-y-20">
                <div class="flex flex-row justify-around">
               
                    <div class="flex flex-col justify-center items-center space-y-4 w-32">
                        <div class="text-6xl text-white border-2 border-solid border-white rounded-full w-[130px] h-[130px] flex justify-center items-center">84</div>
                        <span class="text-white text-xl text-center">LİSANS PROGRAMI</span>
                      </div>
    
                      <div class="flex flex-col justify-center items-center space-y-4 w-32">
                          <div class="text-6xl text-white border-2 border-solid border-white rounded-full w-[130px] h-[130px] flex justify-center items-center">94</div>
                          <span class="text-white text-xl text-center">LİSANSÜSTÜ PROGRAMI</span>
                        </div>
                  </div>

                  <div class="flex flex-row justify-around">
               
                    <div class="flex flex-col justify-center items-center space-y-4 w-32">
                        <div class="text-6xl text-white border-2 border-solid border-white rounded-full w-[130px] h-[130px] flex justify-center items-center">31</div>
                        <span class="text-white text-xl text-center">UYGULAM ARAŞTIRMA MERKEZİ</span>
                      </div>
    
                      <div class="flex flex-col justify-center items-center space-y-4 w-32">
                          <div class="text-6xl text-white border-2 border-solid border-white rounded-full w-[130px] h-[130px] flex justify-center items-center">12</div>
                          <span class="text-white text-xl text-center">KOORDİNATÖRLÜK</span>
                        </div>

                  </div>

                <div>
  
                </div>
              </div>
            </div>

</section>
   
<section class="flex justify-center items-center">
            <div class="flex flex-grow-[1]">
              <img src="./assets/img/headline-back-03.png" class="w-full" />
            </div>
        
            <div class="flex flex-grow-[1]  flex-col justify-center space-y-10">
              <h2 class="flex items-start justify-start text-5xl ml-15 text-info">2006'DAN BUGUNE</h2>
              <div class="flex flex-col space-y-20">
                <div class="flex flex-row justify-around">
               
                    <div class="flex flex-col justify-center items-center space-y-4 w-32">
                        <div class="text-6xl text-info border-2 border-solid border-info rounded-full w-[130px] h-[130px] flex justify-center items-center">77</div>
                        <span class="text-info text-xl text-center">TUBİTAK PROJESİ</span>
                      </div>
    
                      <div class="flex flex-col justify-center items-center space-y-4 w-32">
                          <div class="text-5xl text-info border-2 border-solid border-info rounded-full w-[130px] h-[130px] flex justify-center items-center">1092</div>
                          <span class="text-info text-xl text-center">BAP PROJESİ</span>
                        </div>
                  </div>

                  <div class="flex flex-row justify-around">
               
                    <div class="flex flex-col justify-center items-center space-y-4 w-32">
                        <div class="text-6xl text-info border-2 border-solid border-info rounded-full w-[130px] h-[130px] flex justify-center items-center">-</div>
                        <span class="text-info text-xl text-center">SPONSORLU PROJE</span>
                      </div>
    
                      <div class="flex flex-col justify-center items-center space-y-4 w-32">
                          <div class="text-6xl text-info border-2 border-solid border-info rounded-full w-[130px] h-[130px] flex justify-center items-center">1</div>
                          <span class="text-info text-xl text-center">PATENT</span>
                        </div>

                  </div>

                <div>
  
                </div>
              </div>
            </div>

</section>


<section class="flex items-center justify-end h-[50vh] w-[50%] mb-5 ">
    <div class="pt-8 w-[60%] flex flex-col space-y-4">
      <h3 class="text-color text-4xl" >KARINCALAR GİBİ OL...</h3>
      <h2 class="text-color text-4xl">ÇALIŞAN, ÜRETEN, GELİŞEN</h2>
      <h3 class="text-color text-4xl">DÜZCE ÜNİVERSİTEM</h3>
      <div class="hr"></div>
      <div class="flex space-x-10 justify-end">
          <div class="text-info text-xl flex-grow-1 flex flex-col space-y-3">
              <a href="#">AÇIK KAMPÜS<span>'e Katıl</span> 
                <br>
                  NEDİR?
              </a>
              <a href="#">GETAT<span>'ı Gör</span>
                  <br>
                  NEDİR?
              </a>
          </div>
          <div class="text-info text-xl flex-grow-1 flex flex-col space-y-3">
              <a href="#">DÜKKAN<span>'a Git</span>
                  <br>
                  NEDİR?
              </a>
              <a href="#"> RADYO DÜET<span> Dinle</span></a>
          </div>
      </div>
  </div>

  </section>*@




@code {
    private IEnumerable<SectionModel> SectionModels;


    [Inject]
    public IUniversityService universityService { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var result =  await universityService.GetSections();

        SectionModels = result.OrderBy(x => x.Priority);

        await base.OnInitializedAsync();
    }


}
