@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="css/admin.css" rel="stylesheet" />
<link href="University.Blazor.styles.css" rel="stylesheet" />

@code {
    [Inject]
    IIdentityService identityService { get; set; }
    [Inject]
    NavigationManager navigationManager { get; set; }

    protected override Task OnInitializedAsync()
    {
        if (!identityService.IsLoggedIn)
        {
            navigationManager.NavigateTo("/login");
        }
        return base.OnInitializedAsync();
    }
}


